# This is a template file for environment variables
# Values will be populated by the generate_env.sh script

# Environment type (staging, demo, prod)
DJANGO_ENV=__DJANGO_ENV__

# Environment-specific settings
IS_DEMO_ENVIRONMENT=__IS_DEMO_ENVIRONMENT__

# File paths
FILE_CACHE_LOCATION=__FILE_CACHE_LOCATION__

# Other configuration
ALLOWED_REDIRECT_URLS=__ALLOWED_REDIRECT_URLS__

# Add any other static configuration here 